name: CI
on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
  merge_group:

jobs:
  test:
    timeout-minutes: 10
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          java-version: 21
          distribution: adopt
      - uses: sbt/setup-sbt@v1
      - run: sbt -v scalafmtCheckAll scalafmtSbtCheck makeSite
      - uses: actions/configure-pages@v5
      - uses: actions/jekyll-build-pages@v1
        with:
          source: "target/site"
      - uses: actions/upload-pages-artifact@v4
        if: (github.event_name == 'push') && (github.ref == 'refs/heads/main')
        with:
          path: "_site"
  deploy:
    needs: test
    timeout-minutes: 10
    permissions:
      id-token: write
      pages: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'kantan-scala' && github.ref == 'refs/heads/main' && github.event_name == 'push' }}
    steps:
      - uses: actions/deploy-pages@v4
